@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-nav: #add9f4;
  --bg-logo: #fff;
  --primary: #000;
  --letters: rgba(0, 255, 247, 0.479);
}
header {
  background-color: var(--primary);

  display: flex;
  justify-content: space-around;
  align-items: center;
}


.img-logo {
  width: 170px;
}
.nav-bar,
ul {
  display: flex;
  list-style-type: none;
  font-weight: 500;
  gap: 20px;
  color: var(--bg-logo);
  font-size: 19px;
}
li:hover{
    color: var(--letters);
}

.nav-bar li {
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
  border-radius: 10px;
}
