

@media(max-width: 810px){
    #hero{
        max-width: 100%;  
        
        height: 40vh;
        justify-content: left;
        align-items: center;
        font-size: 17px;
        background-size: cover;
        margin-bottom: 0;
        gap:0;
    }

    .hero-content{
       color: var(--letters-secondary);
       display: flex;
       background-color:  #cbc8cc3c;
       justify-content: center;
       align-items: center;
        max-width: 100%;
        
    }
    .hero-content p{
        text-align: center;
    }

    .hero-img{
        width: 0;
    }
    #about{
        height: 38vh;
    }
   
    .container-card{
        gap: 18px;
    }
    .titulo-card{
        text-align: center;
        font-size: 20px;
    }
    .img img{
        width: 30%;
    }
    .titulo-principal-card{
        display: flex;
        
    }

    .card-text{
        width: 80%;
        display: flex; 
        line-height: 17px;
    }
    #contact{
        justify-content: start;
        gap: 70px;
    }
    .contact-title{
        width: 70%;
        text-align: center;
    }
    .contact-info{
        padding-left: 40px;
        width: 40%;
    }
    .contact-text{
        
        justify-content: start;
        
    }
    .icons-contact{
        max-width: 150%;
    }
    .contact-iframe iframe{
        max-width: 110%;
    }
    .icons-contact{
        width: 250%;
    }

    .logo-footer{
        justify-content: center;
    }
    .texto-footer{
        width: 50%;
    }
}

@media(max-width: 576px){
   
    
    .menu-label{
        display: flex;

    }

    #menu-toggle:checked + .nav-bar-list{
        display: flex;
    }
    .nav-bar ul{
        gap: 15px;
        border-radius: 5px;
    }
    .nav-bar-list{

        position: absolute;
        top: 70px;
        left: 5%;
        right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #cbc8cc3c;
        display: none;
    }

    #hero{
        font-size: 14px;
    }

    .hero-content{
        gap: 9px;
        line-height: 32px;
        justify-content: end;
        padding-bottom: 10px;
       }
    #about{
        font-size: 15px;
        line-height: 25px;
    }
    .about-text{
        max-width: 90%;
    }
    .container-card{
        gap: 60px;
    }
    .titulo-card{
        font-size: 18px;
    }
    .card-text{
        display: none;
    }
    .img img{
        padding-top: 50px;
        width: 70%;
    }
    #contact{
        justify-content: start;
    }

    .contact-title{
        width: 180%;
        
        font-size: 25px;
    }
    .contact-text{
        
        justify-content: start;
        gap: 20px;
    }
    .contact-text img{
        width: 35px;
    }
    .contact-iframe{ 
        display: none;
    }
    .icons-contact{
    
        justify-content: start;
    }
    .icons-contact img{
         width: 12%;
    }

    .footer{
        
        font-size: 24px;
        justify-content: center;
        text-align: center;
        
        width: 100%;
    }

    .logo-footer{
        display: none;
    }

    
    
}

